* {
    margin: 0;
    padding: 0;
    height: auto;
}
.logo {
    width: 200px;
    height: 30.66px;
    margin: 20px 0px 20px 60px;
}
.navbar {
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0 );
}
.right-item {
    margin-right: 60px;
}
.navbar li {
    list-style: none;
    float: left;
    margin-left: 30px;
}
.navbar li a {
    text-decoration: none;
    color: black;
}
.slideshow {
    position: relative;
}
.slideshow h1 {
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}
.wambet_poo_img {
    width: 369.33px;
    height: 369.33px;
}
.poo_img {
    width: 369.33px;
    height: 369.33px;
}
.rainbow_poo_img {
    width: 369.33px;
    height: 369.33px;
}